:root {
  --font-color: #ffffff;
  --right-side-color: #000000;
  --button-color: #0f3974;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: var(--button-color);
}

a:hover {
  color: #fff;
}

h2,
h3 {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 400;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
section form {
  display: flex;
  flex-flow: column wrap;
}

input,
label {
  display: block;
  color: var(--font-color);
  text-transform: uppercase;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.content {
  display: flex;
  flex-flow: column wrap;
}
.left-side {
  min-height: 30vh;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: -5px -410px;
}
.right-side {
  display: flex;
  flex-flow: column wrap;
  padding: 0.5em;
  align-content: center;
  background-color: var(--right-side-color);
}
