:root {
  --font-color: #ffffff;
  --right-side-color: #000000;
  --button-color: #0f3974;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(/fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: var(--button-color);
}

a:hover {
  color: #fff;
}

h2,
h3 {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 400;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
section form {
  display: flex;
  flex-flow: column wrap;
}

input,
label {
  display: block;
  color: var(--font-color);
  text-transform: uppercase;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

input {
  color: var(--font-color);
  font-size: 1.2em;
  text-transform: none;
  background-color: black;
  border: 1px solid var(--button-color);
}

input:focus {
  outline-color: #144fa0;
}

button {
  margin-top: 2rem;
  background-color: var(--button-color);
  color: var(--font-color);
  width: 200px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
}

.content {
  display: flex;
  flex-flow: column wrap;
}
.left-side {
  min-height: 30vh;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: -5px -410px;
}
.right-side {
  display: flex;
  flex-flow: column wrap;
  padding: 0.5em;
  align-content: center;
  background-color: var(--right-side-color);
}

.image-section,
img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.2rem;
  font-family: "Norse-Bold";
  color: white;
}
.image-section::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.3;
}
.logo {
  width: 120px;
}

.logo-text {
  font-size: 5rem;
}
